# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ===============================
# Ambientes virtuais
# ===============================
.env
.venv
venv/
env/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/
*.nbconvert.ipynb

# ===============================
# Dados (não versionar datasets)
# ===============================
data/
*.csv
*.parquet

# ===============================
# Logs e outputs
# ===============================
*.log
*.out

# ===============================
# SO / IDE
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Modelos treinados
# ===============================
*.pkl
*.joblib
*.model